# Ignore executables
bin/*

# Ignore custom templates
templates/*

# Ignore compose-generator output
./docker-compose.yml
./environment.env

# Documentation build output
docs/site/*

# Node modules
node_modules/*

# Ignore python venv, installed by GH codespaces
.venv/*