# Ignore executables
bin/*

# Ignore custom templates
templates/*

# Ignore compose-generator output
./docker-compose.yml
./environment.env

# Documentation build output
docs/site/*

# Toolbox image
toolbox/toolbox.img