image: atlassian/jira-software:${{JIRA_VERSION}}
container_name: ${{PROJECT_NAME_CONTAINER}}-frontend-jira
restart: always
volumes:
  - ${{VOLUME_JIRA_DATA}}:/var/atlassian/application-data/jira
networks:
#? if has database {
#  - frontend-database
#? }
ports:
  - ${{JIRA_PORT}}:8080