# Publish documentation

name: Publish documentation

on:
  push:
    branches:
      - 'main'
      #- 'docs/**'
      - 'feature/**'
    paths:
      - 'docs/**'

jobs:
  docs-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Install dependencies
        run: pip install mkdocs-material mkdocs-minify-plugin
      - name: Build and deploy
        run: |
          cd docs
          mkdocs gh-deploy --force